---
import { Image } from 'astro:assets';

import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import { cn } from '@/lib/utils';

interface Props {
  title: string;
  description: string;
  image: string;
  slug: string;
  tags?: string[];
}
const { title, description, image, slug, tags } = Astro.props;
---

<a href={`/projects/${slug}`}>
  <Card className={cn('cursor-pointer')}>
    <CardHeader className="flex flex-col gap-4 lg:flex-row">
      <Image
        alt={title}
        src={image}
        width="200"
        height="200"
        class="aspect-video w-full lg:max-w-[250px] rounded-md bg-accent object-cover transition-all duration-100 hover:scale-105 hover:bg-accent-foreground"
        transition:name={title}
      />
      <div class="flex flex-col justify-between">
        <div class="space-y-2">
          <CardTitle>{title}</CardTitle>
          <CardDescription>{description}</CardDescription>
        </div>

        <div class="mt-4 flex flex-wrap gap-2">
          {
            tags?.map(tag => (
              <p class="flex items-center rounded-md border p-2 text-xs">
                {tag}
              </p>
            ))
          }
        </div>
      </div>
    </CardHeader>
  </Card>
</a>
